{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center mt-5">
  <div class="col-md-4">
    <div class="card shadow">
      <div class="card-body">
        <h4 class="mb-3 text-center">🔐 Login</h4>

        <form method="post">
          <input name="username"
                 class="form-control mb-2"
                 placeholder="Username"
                 required>

          <input name="password"
                 type="password"
                 class="form-control mb-3"
                 placeholder="Password"
                 required>

          <button class="btn btn-primary w-100">
            Login
          </button>
        </form>

        <p class="text-center mt-3">
          No account?
          <a href="/register">Register</a>
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}