{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-md-6 col-lg-5">

    <div class="card shadow-sm border-0 mt-5">
      <div class="card-body p-4">

        <h3 class="text-center fw-bold mb-4">
          📝 Create Account
        </h3>

        <form method="post">
          <div class="mb-3">
            <label class="form-label">Username</label>
            <input
              type="text"
              name="username"
              class="form-control form-control-lg"
              placeholder="Enter username"
              required
            >
          </div>

          <div class="mb-4">
            <label class="form-label">Password</label>
            <input
              type="password"
              name="password"
              class="form-control form-control-lg"
              placeholder="Enter password"
              required
            >
          </div>

          <button class="btn btn-primary btn-lg w-100">
            Register
          </button>
        </form>

        <div class="text-center mt-4 text-muted">
          Already have an account?
          <a href="/login" class="text-decoration-none fw-semibold">
            Login
          </a>
        </div>

      </div>
    </div>

  </div>
</div>

{% endblock %}