{% extends "base.html" %}
{% block content %}

<form method="get" class="mb-4">
    <input type="text" name="q" placeholder="Search restaurant...">
    <button>Search</button>
</form>

<ul>
{% for r in restaurants %}
    <li>
        <b>
            <a href="/restaurants/{{ r.id }}">
                {{ r.name }}
            </a>
        </b>
        - {{ r.location }}

        {% if r.avg_rating() %}
            ⭐ {{ r.avg_rating() }}
        {% endif %}

        <br>
        <a href="/restaurants/{{ r.id }}/edit">Edit</a>

        <form method="post"
              action="/restaurants/{{ r.id }}/delete"
              style="display:inline">
            <button onclick="return confirm('Delete this restaurant?')">
                Delete
            </button>
        </form>
    </li>
{% endfor %}
</ul>

{% endblock %}